<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>Home</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae maxime ut autem voluptate quo, adipisci esse,
        eligendi assumenda id cum ratione aliquam suscipit repellat impedit, nihil necessitatibus consectetur molestias!
        Quia.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis commodi perspiciatis quia beatae odit magni
        maiores blanditiis fugiat. Repudiandae enim earum accusantium facere nemo, quam quas nobis officia quia
        aspernatur!
        Nostrum rem omnis asperiores mollitia architecto voluptate a doloribus, vero adipisci enim doloremque aspernatur
        quas laboriosam praesentium culpa sint eos repellendus labore harum tempore sapiente sed ex sunt corporis.
        Rerum.</p>
</body>

</html>